*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(15, 15, 111);

}
.container{
    display: grid;
    place-items: center;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 5cm;

}
.container::before{
    border: 2px solid black;
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0px;
    right: 0px;
    transition: 1.5s;
    background: linear-gradient(50deg,rgb(202, 188, 32),rgb(155, 25, 101));
    transform: rotate(-45deg)translate(0,-100px);

}
#cards {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    background-color: rgb(195, 67, 20);
    margin: auto;
    background-image: url(../TECHPHOTO/era.jpg);
    box-shadow: 20px 10px 12px;
    display: grid;
    border-radius: 1cm;
    z-index: 1;
    color: white;
    padding: 2cm;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: .4s ease;

}
.cards:hover{
    color: #200571;
}
.container:hover::before{
    animation: effect 3s;
}
@keyframes effect{
    100%{
        transform: rotate(-45deg)translate(0,450px);
    }
}
