

h1{
    color: purple;
    text-align: center;

}
div{
    background-color: orange;
    width: 101px;
    height: 205px;
    padding: 20px;
    margin: 22px;

}
table{
    border: 1px solid black ;
    border-collapse: collapse;
}
td,th {
    border: 1px solid black;
    padding: 5px;

}
#foo, #bar{
    color: blanchedalmond
}
ul>li{
    color:aliceblue;
}
a{
    color:blue;
}
a[href="https://facebook.com"]{
    color: orange;
}
button{
    width: 200px;
    height: 500px;
    font-size: 26px;
    background-color: greenyellow;
}
button:hover{
    background-color: orangered;
}
h4{
    @media (min-width: 600px){
        body{
            background-color: red;
        }
        @media (max-width: 400px){
            body{
                background-color: blue;
            }
        }
    }
}
#container{
      display:flex;
      flex-wrap:wrap;

}
#container > div {
    background-color: red;
    font-size: large;
    margin: 20px;
    padding:20px;
    width:200px;

}
#grid {
    background-color: aquamarine;
    display: grid;
    padding: 20px;
    grid-column-gap: 10px;
    grid-row-gap:20px;
    grid-template-columns: 200px 200px auto;
}
.grid-item{
    background-color:white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
